extends layout

block content

  h1 ID: #{item._id}

  p #[strong Title: #{item.name}]
  p #[strong Category: ]
    each val, index in item.category
      a(href=val.url) #{val.name}
      if index < item.category.length - 1
        |,
  p #{item.description}
  p Number in stock: #{item.number_in_stock}
  p Price: #{item.price}